[submodule "openfhe-python"]
	path = openfhe-python
	url = https://github.com/identikey/openfhe-python
[submodule "openfhe-rs"]
	path = openfhe-rs
	url = https://github.com/fairmath/openfhe-rs
[submodule "openfhe-development"]
	path = openfhe-development
	url = https://github.com/openfheorg/openfhe-development.git
